.footer-main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;

    .developers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
        align-items: center;
    }

    .footer-heart {
        height: 12px;
    }
}