.section {
    @apply my-10;
}

.section-title {
    .title{
        @apply cursor-pointer text-2xl;
    }

    .ge-font {
        font-family: NotoSansGeorgian, serif;
    }

    .active {
        font-family: NotoSansGeorgian, serif;
        font-weight: bold;
    }

    .inactive {
        font-weight: 300;
        color: #40515e;
    }
}